*{
  padding: 0;
  margin: 0;
}
.navbar{
  position: absolute;
  top:0px;
  right: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.027);
height: 50px;
margin-left: 20px;

z-index: 20;
}
.logo{
 width: 15%;

}
.logo>.burgur{
  display: none;

}
.nav_search{
  width: 42%;
  background-color: rgba(70, 14, 14, 0.151);
    border-radius: 20px;
    border: 3px solid rgb(255, 255, 255);
    color: white;
    display: flex;
    justify-content: space-between;

}
.nav_search>input{
  background-color: rgba(70, 14, 14, 0);
  width: 92%;
  margin-left: 10px;
  margin-right: 10px;
  height: 32px;
  border: none;
    color: white;

}
.nav_search>input::placeholder{
  color: rgba(255, 255, 255, 0.642);
  margin-left: 50px;
}
.nav_search>input:focus{
  outline: none;
}

.nav_search>.nav_search{
  color: white;
  font-size: 20px;
  width: 8%;
}
.nav_links{
  
  width: 20%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-right: 8%;
}
.nav_links>a,.logo>a{
  text-decoration: none;
  color: white;
 text-shadow: rgb(234, 197, 10) 2px 2px 2px;
}
.nav_links>a>h1{
  font-size: 1.4rem;
  margin-right: 30px;
}
.nav_Modal{
  display: none;}
 @media screen and (max-width: 993px) {
  .navbar{

    font-size: 1rem;
    width: 90vw;
      position: absolute;
  top:0px;
  right: 0px;
  left: 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(0, 0, 0, 0);
height: 50px;


z-index: 20;
  }
  
.logo{

 width: 15%;
display: flex;

align-items: center;
}
.logo>.burgur{
  display: block;

}
.logo>a>h1{
  font-size: 1.3rem;
}
.nav_search{
  width: 42%;
  background-color: rgba(70, 14, 14, 0.151);

}
.nav_search>input{
  background-color: rgba(70, 14, 14, 0);
  width: 92%;
  margin-left: 10px;
  margin-right: 10px;
  height: 32px;
  border: none;
    color: white;

}
.nav_search>input::placeholder{
  color: rgba(255, 255, 255, 0.642);
  margin-left: 50px;
}
.nav_search>input:focus{
  outline: none;
}

.nav_search>.nav_search{
  color: white;
  font-size: 20px;
  width: 8%;
}
.nav_links{
  display: none;
  
}
.navdontshow{
  display: none;
}
.nav_links__show{
  display: block;
  display: flex;
justify-content: center;

  width: 70px;
  margin-right: 40px;



}
.nav_links__show>a:nth-child(1){
  display: none;
}
.burgur{
  color: rgb(197, 195, 194);
  margin-right: 4px;
  filter: drop-shadow(2px 2px 2px rgb(234, 197, 10));
}

.nav_links__show>a{
  text-decoration: none;
  color: white;
 text-shadow: rgb(234, 197, 10) 2px 2px 2px;
}
.nav_links__show>a>h1{
  font-size: 0.8rem;
  margin-right: 30px;
}
 }